ABOUT-NLS
autom4te.cache
compile
configure
config.rpath
depcomp
INSTALL
install-sh
Makefile
Makefile.in
missing
stamp-h1
tags
config.*
*.m4
*.o
*.tar.gz
*.swp
*~

src/nitrogen
src/.deps

po/Makefile*
po/Makevars.template
po/*.sin
po/*quot*

data/nitrogen.desktop